* {
    font-family: sans-serif;
  box-sizing: border-box;
  background-color:lightsteelblue;
  text-align:center;
}

#Question {
width: 50%;
  float: left;
  padding: 15px;
  
}
#Show {
width: 50%;
height: 500px;
  float: right;
  padding: 15px; 
}
#Show div {
display:none;
}
#Show:hover div {
display:block;
}
img{
width:100%;
border-radius:10px;
}